{% for ban_line in apache_ansible_managed %}
{{ ban_line }}
{% endfor %}

<IfModule mod_fastcgi.c>
  <FilesMatch ".+(\.fcgi)$">
    SetHandler fastcgi-script
  </FilesMatch>
  FastCgiIpcDir "{{ apache_modules['fastcgi'].lib_path|default(apache_mod_fastcgi['lib_path']) }}"
</IfModule>
