{% for ban_line in apache_ansible_managed -%}
{{ ban_line }}
{% endfor -%}

<IfModule mod_ssl.c>
  SSLRandomSeed startup builtin
  SSLRandomSeed startup file:/dev/urandom {{ apache_modules['ssl'].random_seed_bytes|default('512') }}
  SSLRandomSeed connect builtin
  SSLRandomSeed connect file:/dev/urandom {{ apache_modules['ssl'].random_seed_bytes|default('512') }}

  AddType application/x-x509-ca-cert .crt
  AddType application/x-pkcs7-crl    .crl

  SSLPassPhraseDialog {{ apache_modules['ssl'].pass_phrase_dialog|default('builtin') }}
  SSLSessionCache "shmcb:{{ apache_modules['ssl'].session_cache|default(apache_mod_ssl['session_cache']) }}"
  SSLSessionCacheTimeout {{ apache_modules['ssl'].session_cache_timeout|default('300') }}
{% if apache_version.split('.')[1] == '4' %}
  Mutex {{ apache_modules['ssl'].mutex|default(apache_mod_ssl['ssl_mutex']) }}
  SSLCompression {{  apache_modules['ssl'].compression|default('Off') }}
{% else %}
  SSLMutex {{ apache_modules['ssl'].mutex|default(apache_mod_ssl['ssl_mutex']) }}
{% endif %}
  SSLCryptoDevice {{ apache_modules['ssl'].cryptodevice|default('builtin') }}
  SSLHonorCipherOrder {{ apache_modules['ssl'].honorcipherorder|default('On') }}
  SSLCipherSuite {{ apache_modules['ssl'].cipher|default('HIGH:MEDIUM:!aNULL:!MD5:!RC4') }}
  SSLProtocol {{ apache_modules['ssl'].protocol|default(apache_mod_ssl['protocol'])|join(' ') }}
{% if apache_modules['ssl'].options is defined %}
  SSLOptions {{ apache_modules['ssl'].options|join(' ') }}
{% endif %}
{% if apache_version.split('.')[1] == '4' and apache_modules['ssl'].openssl_conf_cmd is defined %}
  #SSLOpenSSLConfCmd {{ apache_modules['ssl'].openssl_conf_cmd }}
{% endif %}

</IfModule>
